
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Russo+One&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	
}


li, a, button {
	font-family: 'Russo One', sans-serif;;
	font-weight:500;
	font-size: 16px;
	text-decoration: none;
	color: #edf0f1

}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 10%;
	background-color: #ffffff;
}

.logo {
	cursor: pointer;
	margin-right: auto; 
	height: 60px;
	width: 60px;
	background-color:  #ffffff;
}

.nav_links {
	list-style: none;
	background-color: #ffffff;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
	background-color: #ffffff;
}
.nav_links li a {
	transition: all 0.3s ease 0s;
	color: #4c0113;
	background-color: #ffffff;
	font-size: 25px;
}

.nav_links li a:hover {
	color: #0088a9;
}

button {
	padding: 12px 30px;

	background-color: #771609;
	border:none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.support {
	padding-left: 14px;
	background-color: #fff;
}

button:hover {
	background-color: #095977;
}

.welcome_image {
	width:100%;
	height:80%;
}

.welcome_container {
	position: absolute;
	text-align: center
	top: 40%;
	width:100%;
	height:100%;	
}

.welcome_static {
	position: absolute;
	top:160px;
	left:16px;
	font-family: 'Inconsolata', monospace;
	font-size: 30px;
	background: rgba(0, 0, 0, 0);

}

.welcome {
	position: absolute;
	font-family: 'Russo One', sans-serif;
	font-size: 60px;	
	top:200px;
	left:16px;
	background: rgba(0, 0, 0, 0);

}

.wrap {
  height: 100%;
  width: 100%;
  text-align: center;
}

img {
  height: 50px;
  width: auto;
}

.wrap img {
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
